// All website colors
$mainColor: #6022ea;
$darkColor: #000;
$lightColor: #FFF;
$girlsColor: #eac519;
$boysColor: #cd2747;

// Screens size
$maxSmallMobile: "(max-width: 576px)";
$maxMiniMobile: "(min-width: 576px)";
$maxMobile: "(max-width: 767px)";
$minSmall: "(min-width: 768px)";
$minMaxSmall: "(min-width: 768px) and (max-width: 991px)";
$maxSmall: "(max-width: 991px)";
$minMidium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";