/* Start: Header animation */
@-webkit-keyframes moving {
    0% { transform: translateY(0); }
    100% { transform: translateY(30px); }
}
@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(30px); }
}
/* End: Header animation */