@import "helpers/variables";
@import "helpers/mixins";
@import "components/buttons";
@import "components/animations";
@import "components/scroll-top-button";
@import "layouts/navbar";
@import "sections/header";
@import "sections/about-us";
@import "sections/characteristics";
@import "sections/services";
@import "layouts/footer";


/* =====[Start: Global rules]===== */
body {
    overflow-x: hidden;
}
*, h1, h2, h3, h4, h5, h6 {
    font-family: 'Cairo', sans-serif;
}
a {
    text-decoration: none !important;
}
.main-title {
    font-weight: bold;
    color: #999;
    margin-bottom: 25px;
    font-size: 37px;
}
.main-brief {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}
.border-section {
    position: absolute;
    border-radius: 20px;
    bottom: 0;
    background-color: #606161;
}
.border-section.right {
    right: 0;
    max-height: 500px;
    height: 50%;
    width: 10px;
    &:after {
        content: "";
        position: absolute;
        bottom: -57px;
        right: -60px;
        background-image: url(../images/shape-3.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 50px;
        width: 80px;
    }
}
.border-section.bottom {
    left: 0;
    max-width: 500px;
    width: 50%;
    height: 10px;
    &:after {
        content: "";
        position: absolute;
        bottom: -57px;
        right: -80px;
        background-image: url(../images/shape-2.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 100px;
        width: 80px;
    }
    &:before {
        content: "";
        position: absolute;
        bottom: -38px;
        left: -90px;
        background-image: url(../images/shape-1.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 135px;
        width: 80px;
    }
}
.title-with-dot {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: -35px;
        transform: translateY(-50%);
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #000;
    }
}
/* =====[End: Global rules]===== */